<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>The Enneagram for Engineers</title>

    <meta name="description" content="A conference talk on the Enneagram for Engineers" />
    <meta name="author" content="Nathan Alderson" />

    <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700|Cabin:400,700,400italic" rel="stylesheet" />

    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/scratch.less') }}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Code Highlighting via highlight.js -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solarized_light.css') }}">
    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress" data-console-css="{{ url_for('static', filename='css/console.css') }}">

    <div id="title" class="step" data-x="0" data-y="0" data-z="0" data-scale="6">
        <span class="the">The</span>
        <h1>Enneagram</h1>
        <div class="subtitle">for <br/><strong>Engineers</strong></div>
    </div>

    <div id="about" class="step" data-x="0" data-y="0" data-z="1200" data-scale="2" data-rotate-y="90">
        <h1>Nathan Alderson</h1>
        <hr/>
        <div class="social">
            <div><i class="fab fa-twitter"></i>@nathanalderson</div>
            <div><i class="fab fa-github"></i>github.com/nathanalderson</div>
            <div><i class="fab fa-keybase"></i>keybase.io/nathanalderson</div>
            <div><i class="fas fa-globe"></i>nathanalderson.com</div>
        </div>
        <div class="notes">
            - Pronouns
            - NOT an expert
        </div>
    </div>

    <div id="whatisit" class="step" data-x="1000" data-z="-3000" data-scale="1" data-rotate-y="0">
        <h1>What is the Enneagram?</h1>
        <div id="enneagram-img" class="substep">
            <img src="{{ url_for('static', filename='img/enneagram.svg') }}" />
            <p class="credits">
            <strong>image credit:</strong>
            https://commons.wikimedia.org/wiki/File:Enneagram.svg
            </p>
        </div>
        <div class="notes">
            - question: who's heard of it?
            - question: who knows their type?
            - A personality type system
            - 9 personalities / archetypes / ways of being/seeing
            - "ennea" (greek for 9) "gram" (greek for figure)
        </div>
    </div>

    <div id="youmeanlike" class="step" data-dx="1500">
        <h1>You mean like Myers-Briggs?</h1>
        <p class="substep">
            MBTI
            <span class="isto">:</span>
            Enneagram
            <span class="as">::</span>
            C++
            <span class="isto">:</span>
            Haskell
        </p>
        <p class="burn substep">
            <img src="{{ url_for('static', filename='img/burn.gif') }}" />
            <img id="haskell" src="{{ url_for('static', filename='img/haskell.png') }}" />
        </p>
        <div class="notes">
            - MBTI : Enneagram :: C++ : Haskell
            - Both turing complete programming languages, but...
            - Completely different paradigm
            - Haskell actually has a good type system (burn!)
            - If you didn't like MBTI (etc), maybe you'll like Enneagram
            - If you *do* like MBTI, Enneagram will expand your mind
            - Other systems: DISC, That one with the four animals?, Hogwarts houses?
        </div>
    </div>

    <div id="background" class="step">
        <h1>Background</h1>
        <div class="notes">
            - Drawn from a number of ancient wisdom traditions
            - Mostly oral until 1960s/70s when Oscar Ichazo formalized it
            - 80s/90s: Richard Rohr, Don Riso, and others increased its popularity
            - Not scientifically or clinically based
            - MBTI isn't very reproducible, not scientifically rigorous either
            - is it useful? does it ring true?
        </div>
    </div>

    <div class="step" id="thenumbers" data-dx="0" data-rotate-y="90" data-dz="-1000" data-dy="0">
        <h1>The numbers...</h1>
    </div>

    <div class="step number" id="number1" data-dx="0" data-dy="1000" data-dz="0">
        <h1>1</h1>
        <p>The Perfectionist</p>
        <div class="notes">
            - AKA "reformer"
            - Everything can be improved (self, others, process)
            - Redo others work (perceived as critical)
            - Intense inner critic
            - Precise, completionist
            - Impulse for justice

            AS AN ENGINEER:
            - Favorite language: C (can optimize)
            - 100% line coverage
            - Great testers/QA
            - Never ships anything (never good enough)
        </div>
    </div>

    <div class="step number" id="number2" data-dx="0" data-dy="1000" data-dz="0">
        <h1>2</h1>
        <p>The Helper</p>
        <div class="notes">
            - empathetic
            - Sense and meet needs in others
            - *need* to be needed
            - (unconsciously) expect something in return
            - codependence (unhealthy)
            - must learn to ask for their own needs
            - Our culture often represses women into 2s
            - Can teach us about true connection

            AS ENGINEER:
            - Favorite language: what's yours?
            - Pair programming
            - Great documentation
            - Advocate for the customer
            - Great agile leader/scrum master
        </div>
    </div>

    <div class="step number" id="number3" data-dx="0" data-dy="1000" data-dz="0">
        <h1>3</h1>
        <p>The Performer</p>
        <div class="notes">
            - aka "achiever"
            - External validation
            - Image conscious
            - avoid failure at all cost
            - can become anything to please a group
            - seek admiration (2's want appreciation)
            - great salespeople

            AS ENGINEER:
            - Uses EMACS and likes Clojure (they sound impressive)
            - work well under pressure and deadlines
            - Great at technical marketing/sales
        </div>
    </div>

    <div class="step number" id="number4" data-dx="0" data-dy="1000" data-dz="0">
        <h1>4</h1>
        <p>The Romantic</p>
        <div class="notes">
            - aka "individualist"
            - melodramatic, sensitive
            - feel deeply, emotional roller coaster
            - need: AUTHENTICITY, to stand out, to be known
            - often creative
            - comfortable with melancholy, pain of others
            - can be seen as dark or cynical
            - hate shallowness
            - push and pull in relationship

            AS ENGINEER:
            - favorite language: Scheme (because "reasons", obscurity)
            - great outside-the-box thinkers, creative
            - might have to reign them in
        </div>
    </div>

    <div class="step number" id="number5" data-dx="0" data-dy="1000" data-dz="0">
        <h1>5</h1>
        <p>The Investigator</p>
        <div class="notes">
            - aka "observer"
            - info -> knowledge -> wisdom (perceive -> fully understand)
            - like systems and frameworks, clarity, precision
            - don't like to depend on others
            - hoard resources (knowledge, energy)
            - *measured* energy (can seem aloof)
            - like new things, explorers

            AS ENGINEER:
            - Favorite language: Haskell
            - most detailed bug reports ever
            - become experts
        </div>
    </div>

    <div class="step number" id="number6" data-dx="0" data-dy="1000" data-dz="0">
        <h1>6</h1>
        <p>The Loyalist</p>
        <div class="notes">
            - committed, security-oriented
            - reliable, hard-working, responsible, trustworthy
            - anxious, prepare for every possible disaster
            - prone to (self-)doubt, pessimism
            - need security, certitude, reassurance
            - like support and guidance

            AS ENGINEER:
            - favorite language: Java or Haskell - different kinds of safety
            - also: 100% line coverage
            - GREAT testers, troubleshooters, operations
            - keep the process running and the product shipping
        </div>
    </div>

    <div class="step number" id="number7" data-dx="0" data-dy="1000" data-dz="0">
        <h1>7</h1>
        <p>The Enthusiast</p>
        <div class="notes">
            - fun! experiences! optimism!
            - hate hard things, avoid pain
            - always planning the next thing, FOMO
            - charming, magnetic (get out of trouble)
            - trouble with committment

            AS ENGINEER:
            - gifs! emoji!
            - favorite language: ruby
            - love new projects, crazy ideas, prototyping
            - 0% test coverage
        </div>
    </div>

    <div class="step number" id="number8" data-dx="0" data-dy="1000" data-dz="0">
        <h1>8</h1>
        <p>The Challenger</p>
        <div class="notes">
            - confidence! intensity!
            - (even if they don't feel it)
            - stir the pot, rock the boat
            - perceived as angry, combative, aggressive
            - need power, control
            - fear betrayal, being controlled
            - tend to over-do everything (work, exercise, eat, whatever)
            - our culture likes male 8s, female 8s "are bitchy"

            AS ENGINEER:
            - favorite language: they all suck!
            - tend to become project leads
            - provide drive, focus
            - visionaries
        </div>
    </div>

    <div class="step number" id="number9" data-dx="0" data-dy="1000" data-dz="0">
        <h1>9</h1>
        <p>The Peacemaker</p>
        <div class="notes">
            - desire connection and inner peace
            - avoid conflict at all costs
            - use empathy and self denial to achieve it
            - often forget self, struggle iwht assertion
            - when anger does come out it is passive aggressive, snide, and withering
            - lowest energy on the enneagram
            - "start out slow and taper off from there"
            - healthy: naturally spiritual, *SO* much empathy

            AS ENGINEER:
            - favorite language: hate favorites (or maybe python?)
            - keep a team together an cohesive
            - balance concerns of R&amp;D, sales, etc.
            - great leaders (if they get there)
        </div>
    </div>

    <div class="step" id="features" data-dy="0" data-dx="-500" data-rotate-dy="90">
        <h1>Other Features</h1>
        <ul>
            <li>Wings</li>
            <li>Triads</li>
            <li>Arrows</li>
        </ul>
    </div>

    <div class="step" id="wings" data-rotate-dy="0" data-dy="-1000" data-dz="600">
        <img src="{{ url_for('static', filename='img/wings.png') }}" />
        <p class="credits">
        <strong>image credit:</strong>
        https://enneagramgirl.wordpress.com/2018/05/28/enneagram-wings-of-7/
        </p>
    </div>

    <div class="step" id="triads">
        <img src="{{ url_for('static', filename='img/centers.gif') }}" />
        <img src="{{ url_for('static', filename='img/triads.gif') }}" />
        <p class="credits">
        <strong>image credit:</strong>
        https://www.enneagraminstitute.com/how-the-enneagram-system-works
        </p>
    </div>

    <div class="step" id="arrows">
        <img src="{{ url_for('static', filename='img/arrows.jpeg') }}" />
        <p class="credits">
        <strong>image credit:</strong>
        https://commons.wikimedia.org/wiki/File:Enneagram_integration_and_desintegration.JPG
        </p>
    </div>

    <div class="step" id="resources" data-rotate-dx="90" data-dx="0" data-dy="0" data-dz="500">
        <h1>Resources</h1>
        <ul>
            <li>
                Ian Cron and Suzanne Stabile
                <ul>
                    <li>
                        <a href="http://www.theliturgists.com/podcast/2016/8/23/the-enneagram-episode-37">
                            <em>The Liturgists Podcast</em> episode 37
                        </a>
                    </li>
                    <li>
                        <em>The Road Back To You</em>
                        (<a href="https://www.theroadbacktoyou.com">website</a>)
                        (<a href="https://www.theroadbacktoyou.com/podcast">podcast</a>)
                        (<a href="https://www.goodreads.com/book/show/28268515-the-road-back-to-you">book</a>)
                    </li>
                    <li>
                        <a href="https://www.typologypodcast.com/">
                            <em>Typology Podcast</em>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://www.enneagraminstitute.com/">
                    enneagraminstitute.com
                </a>
            </li>
            <li>
                Sarajane Case
                <ul>
                    <li><em><a href="https://enneagramandcoffee.libsyn.com/">
                        Enneagram and Coffee Podcast
                    </a></em></li>
                    <li><em><a href="https://sarajane-case.mykajabi.com/club-enneagram">
                                Club Enneagram
                    </a></em></li>
                </ul>
            </li>
            <li>
                These slides:
                <a href="github.com/nathanalderson/enneagram-for-engineers">
                    github.com/nathanalderson/enneagram-for-engineers
                </a>
            </li>
        </ul>
    </div>

    <div id="finding-your-type" class="step" data-rotate-dx="0" data-dz="750">
        <h1>Finding your type</h1>
        <p><strong>Method 1:</strong> Learn and pick</p>
        <p><strong>Method 2:</strong> Online tests:</p>
        <p><a href="https://www.eclecticenergies.com/enneagram/test">Eclectic Energies</a> (free)</p>
        <p><a href="https://tests.enneagraminstitute.com/">Enneagram Institute</a> ($12)</p>
        <p><a href="https://ianmorgancron.com/assessment#row--58717">Ian Cron</a> ($60/$120)</p>
    </div>

    <div id="takeaways" class="step" data-dz="0" data-dx="-1500" data-dy="2000" data-rotate-dx="-40" data-rotate-dy="30" data-rotate-dz="30" data-scale=8>
        <h1>Takeaways</h1>
        <h2 class="substep">Do your work</h2>
    </div>

<!-- deltas! -->
<script>
$(document).ready(function() {
    var pos    = {'x':0, 'y':0, 'z':0, 'rotate-x':0, 'rotate-y':0, 'rotate-z':0};
    var deltas = {'x':0, 'y':0, 'z':0, 'rotate-x':0, 'rotate-y':0, 'rotate-z':0};
    $(".step").each(function(i, e) {
        e = $(e);
        $(['x', 'y', 'z', 'rotate-x', 'rotate-y', 'rotate-z']).each(function(j, axis) {
            attr = 'data-' + axis;
            delta_attr = ('data-' + axis).replace(/[xyz]/, 'd$&');
            if (e.attr(attr)) {
                // they gave us an absolute value
                pos[axis] = parseInt(e.attr(attr));
            } else if (e.attr(delta_attr)) {
                // they gave us a delta
                deltas[axis] = parseInt(e.attr(delta_attr));
                pos[axis] = pos[axis] + deltas[axis];
            } else {
                // they didn't give us anything, use current deltas
                pos[axis] = pos[axis] + deltas[axis];
            }
            e.attr(attr, pos[axis]);
        });
    });
    $(document).trigger('impress-go');
});
</script>

<!-- Make anything with an "appear" class begin hidden and appear on keypress -->
<script>
$(document).on('keyup', function(e) {
    var item = $(".active .hidden:first")
    if(item.length) {
        item.removeClass('hidden');
        e.preventDefault();
    }
});
$(document).on('impress:stepleave', function(e) {
    $(e.target).find('.appear').addClass('hidden');
});
</script>

<!-- Usage help -->
<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<!-- make impress go -->
<script src="{{ url_for('static', filename='js/impress.js') }}"></script>
<script>$(document).on('impress-go', function() { impress().init(); })</script>


</body>
</html>

