<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>The Enneagram for Engineers</title>

    <meta name="description" content="A conference talk on the Enneagram for Engineers" />
    <meta name="author" content="Nathan Alderson" />

    <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700|Cabin:400,700,400italic" rel="stylesheet" />

    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/scratch.less') }}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Code Highlighting via highlight.js -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solarized_light.css') }}">
    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <div id="title" class="step" data-x="0" data-y="0" data-z="0" data-scale="6">
        <span class="the">The</span>
        <h1>Enneagram</h1>
        <div class="subtitle">for <br/><strong>Engineers</strong></div>
    </div>

    <div id="about" class="step" data-x="0" data-y="0" data-z="1200" data-scale="2" data-rotate-y="90">
        <h1>Nathan Alderson</h1>
        <hr/>
        <div class="social">
            <div><i class="fab fa-twitter"></i>@nathanalderson</div>
            <div><i class="fab fa-github"></i>github.com/nathanalderson</div>
            <div><i class="fab fa-keybase"></i>keybase.io/nathanalderson</div>
            <div><i class="fas fa-globe"></i>nathanalderson.com</div>
        </div>
        <div class="notes">
            * Pronouns
        </div>
    </div>

    <div id="whatisit" class="step" data-x="1000" data-z="-3000" data-scale="1" data-rotate-y="0">
        <h1>What is the Enneagram?</h1>
        <img id="enneagram-img" class="substep"
             src="{{ url_for('static', filename='img/enneagram.svg') }}" />
        <div class="notes">
            * question: who's heard of it?
            * question: who knows their type?
            * A personality type system
            * 9 personalities / archetypes / ways of being/seeing
            * "ennea" (greek for 9) "gram" (greek for figure)
        </div>
    </div>

    <div id="youmeanlike" class="step" data-dx="1500">
        <h1>You mean like Myers-Briggs?</h1>
        <div class="notes">
            * MBTI : Enneagram :: C++ : Haskell
            * Both turing complete programming languages, but...
            * Completely different paradigm
            * Haskell actually has a good type system (burn!)
            * If you didn't like MBTI (etc), maybe you'll like Enneagram
            * If you *do* like MBTI, Enneagram will expand your mind
            * Other systems: DISC, That one with the four animals?, Hogwarts houses?
        </div>
    </div>

    <div id="background" class="step">
        <h1>Background</h1>
        <div class="notes">
            * Drawn from a number of ancient wisdom traditions
            * Mostly oral until 1960s/70s when Oscar Ichazo formalized it
            * 80s/90s: Richard Rohr, Don Riso, and others increased its popularity
            * Not scientifically or clinically based
            * MBTI isn't very reproducible, not scientifically rigorous either
            * is it useful? does it ring true?
        </div>
    </div>

    <div class="step" id="thenumbers" data-dx="0" data-rotate-y="90" data-dz="-1000" data-dy="0">
        <h1>The numbers...</h1>
    </div>

    <div class="step number" id="number1" data-dx="0" data-dy="1000" data-dz="0">
        <h1>1</h1>
        <p>The Perfectionist</p>
    </div>

    <div class="step number" id="number2" data-dx="0" data-dy="1000" data-dz="0">
        <h1>2</h1>
        <p>The Helper</p>
    </div>

    <div class="step number" id="number3" data-dx="0" data-dy="1000" data-dz="0">
        <h1>3</h1>
        <p>The Performer</p>
    </div>

    <div class="step number" id="number4" data-dx="0" data-dy="1000" data-dz="0">
        <h1>4</h1>
        <p>The Romantic</p>
    </div>

    <div class="step number" id="number5" data-dx="0" data-dy="1000" data-dz="0">
        <h1>5</h1>
        <p>The Investigator</p>
    </div>

    <div class="step number" id="number6" data-dx="0" data-dy="1000" data-dz="0">
        <h1>6</h1>
        <p>The Loyalist</p>
    </div>

    <div class="step number" id="number7" data-dx="0" data-dy="1000" data-dz="0">
        <h1>7</h1>
        <p>The Enthusiast</p>
    </div>

    <div class="step number" id="number8" data-dx="0" data-dy="1000" data-dz="0">
        <h1>8</h1>
        <p>The Challenger</p>
    </div>

    <div class="step number" id="number9" data-dx="0" data-dy="1000" data-dz="0">
        <h1>9</h1>
        <p>The Peacemaker</p>
    </div>

    <p class="step section-header" id="less-basic" data-rotate-dy="90"
        data-dx="-1000" data-dy="0" data-dz"0">Takeaways</p>

    <div id="closures" class="step" data-rotate-dy="0" data-dx="-500" data-dy="-1000" data-dz="600">
        <h1>Closures</h1>
        <hr/>
        <p>A closure is an object consisting of a function <em>and</em> the environment (local variables)
        in which the function was created.  Basically, it's function that remembers its context.</p>
        <pre><code>function makeIncrementor(i) {
  return function(x) {
    return x+i;
  }
}

f1 = makeIncrementor(1);
f2 = makeIncrementor(2);
f1(1);	// returns 2
f2(1);	// returns 3</code></pre>
    <img src="{{ url_for('static', filename='img/closure.jpg') }}">
    </div>

<div>

<!-- deltas! -->
<script>
$(document).ready(function() {
    var pos    = {'x':0, 'y':0, 'z':0, 'rotate-x':0, 'rotate-y':0, 'rotate-z':0};
    var deltas = {'x':0, 'y':0, 'z':0, 'rotate-x':0, 'rotate-y':0, 'rotate-z':0};
    $(".step").each(function(i, e) {
        e = $(e);
        $(['x', 'y', 'z', 'rotate-x', 'rotate-y', 'rotate-z']).each(function(j, axis) {
            attr = 'data-' + axis;
            delta_attr = ('data-' + axis).replace(/[xyz]/, 'd$&');
            if (e.attr(attr)) {
                // they gave us an absolute value
                pos[axis] = parseInt(e.attr(attr));
            } else if (e.attr(delta_attr)) {
                // they gave us a delta
                deltas[axis] = parseInt(e.attr(delta_attr));
                pos[axis] = pos[axis] + deltas[axis];
            } else {
                // they didn't give us anything, use current deltas
                pos[axis] = pos[axis] + deltas[axis];
            }
            e.attr(attr, pos[axis]);
        });
    });
    $(document).trigger('impress-go');
});
</script>

<!-- Make anything with an "appear" class begin hidden and appear on keypress -->
<script>
$(document).on('keyup', function(e) {
    var item = $(".active .hidden:first")
    if(item.length) {
        item.removeClass('hidden');
        e.preventDefault();
    }
});
$(document).on('impress:stepleave', function(e) {
    $(e.target).find('.appear').addClass('hidden');
});
</script>

<!-- Usage help -->
<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<!-- make impress go -->
<script src="{{ url_for('static', filename='js/impress.js') }}"></script>
<script>$(document).on('impress-go', function() { impress().init(); })</script>


</body>
</html>

